{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h2>Kaipuleohone Search</h2>

    <form action="." method="get">
        <div class="input-group">
            <input class="form-control" id="id_q" name="q" type="search">
            <span class="input-group-btn"><button class="btn btn-default" type="submit">Go!</button></span>
        </div>
    </form>

{% if query %}
    <!-- Begin faceting. -->
    <h2>By Collection</h2>

    <div>
        <dl>
            {% if facets.fields.collection %}
                <dt>Collection</dt>

                {% for collection in facets.fields.collection %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=collection_exact:{{ collection.0|urlencode }}">{{ collection.0 }}</a> ({{ collection.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No collection facets.</p>
            {% endif %}
        </dl>
    </div>

    <h2>By Meta</h2>

    <div>
        <dl>

            {% if facets.fields.element_type %}
                <dt>Meta</dt>

                {% for element_type in facets.fields.element_type %}
                    <dd><a href="{{ request.get_full_path }}&amp;selected_facets=element_type_exact:{{ element_type.0|urlencode }}">{{ element_type.0 }}</a> ({{ element_type.1 }})</dd>
                {% endfor %}
            {% else %}
                <p>No element_type facets.</p>
            {% endif %}
        </dl>
    </div>

    <!-- End faceting -->

    <!-- Display results... -->
    {% for result in page.object_list %}
        <div class="search_result">
            <h3><a href="{{ result.object.record.get_absolute_url }}">{{ result.record }}</a></h3>

            <p>{{ result.object.record|truncatewords:80 }}</p>
        </div>
    {% empty %}
        <p>Sorry, no results found.</p>
    {% endfor %}
{% endif %}

{% endblock %}