<!-- collection_view.html -->
{% extends 'base.html' %}
{% load staticfiles %}


{% block page_header %}{{ object }}{% endblock page_header %}

{% block content %}	

	<div class="row">
		<div class="col-md-12">
			<!-- <h2>Globe Trekker</h2>	 -->
		</div>

		<!-- Google Map display panel -->
		<div class="col-md-6">
			<div class="row"><div id="map-canvas" style="width: 100%"></div></div>
			<div class="row">
				<legend>About the Collection</legend>
				<dl class="dl-horizontal">
				{% for k, v in collection_info.items %}
					<dt>{{ k }}</dt>
					<dd> {{ v }}</dd>
				{% endfor %}
				</dl>
			</div>
		</div>

		<!-- Google Map view controller -->
		<div id="mapped_records_selector" class="col-md-6">
			
			<!-- Mapped languages selector: filters mapped record selectors -->
			<div class="row">
				<div class="col-md-12"><button id="filter_reset_btn" type="button" class="btn">Show All</button></div>
				<div class="col-md-12"></div>
			</div>
			
			<div class="row">
				<legend>Records {{ records|length }}</legend>
				<dl class="dl-horizontal">
				{% for i in records %}
				
					<dt><a href="{{ i.url }}">{{ i.title }}</a></dt>
					{% for j in i.description %}<dd>{{ j }}</dd> {% endfor %}
					<hr>
				{% endfor %}
				</dl>
			</div>		

		</div>
	</div>

{% endblock content %}

{% block js_script %}
	<script type="text/javascript">
		//Get the coordinates info and data from the records inside the DOM
        // var json = {{ mapped_plots|safe }};
    </script>
{% endblock js_script %}

{% block js_include %} 
  <!--Google Map js libraries-->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->

  <!-- Local js -->
  <!--<script src="{% static 'js/dla.js' %}"></script>-->
{% endblock js_include %}