<!-- olac_repository_manage.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_header %}  {% endblock page_header %}

{% block content %}
	<h3> Current OLAC Repository </h3>
	<div class="">
		{% for i in existing_repositories %}
			<p>
				<a href="{{ i.get_absolute_url }}">{{ i.name }}</a> {{ i.base_url }}
				<a href="{% url 'harvest_repository' i.id %}" class="button"> Harvest</a>
			</p>
		{% endfor %}
	</div>


	
	<div class="">
	{% if not existing_repositories %}
		{% if messages %}
		    {% for message in messages %}
		    	<h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
		    {% endfor %}
		{% endif %}



		<h3> Add an OLAC Repository to this site: </h3>
		
		<form action="" method="post">{% csrf_token %}
	    	{{ form.as_p }}
	    	<input type="submit" value="Add to site" />
		</form>
	{% else %}
		<h3>Only one repository can be associated with this site.</h3>
	{% endif %}
	</div>
	

{% endblock content %}
