<!-- olac_repository.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Repositories{% endblock page_title %}

{% block content %}
	<h2> About {{ object.name }}</h2>
	<h3>Status</h3>
	<p>Last harvested: 
		<span> {{ object.last_harvest }}</span> 
		<span><a href="{% url 'harvest_repository' object.slug %}" class="button">harvest now</a></span>
		<span><a href="{% url 'collections_update' %}" class="button">update collections</a></span>
	</p>
	<h3>Description</h3>
	{% for i in info %}
		{% for j, k in i.items %}
			<p>{{ j }}: {{ k }}</p>
		{% endfor %}
	{% endfor %}

{% endblock content %}